body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .content h1 {
        border-bottom: 1px solid #868e96;
        padding-bottom: 5px;
    }

    img[alt*="thumb"] {
    width: 100% !important;
    margin-top: 10px;
    }
}
