body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .content h1:nth-child(n+2) {
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 5px;
    }

    .content h1:nth-child(n+3) {
        margin-top: 40px !important;
    }

    img[alt*="thumb"] {
    width: 100% !important;
    margin-top: 10px;
    }

    --font-size-code {
        font-size: 0.75rem;
    }

    :is(.markdown-preview-view,.markdown-rendered) pre {
        padding: .5em 1.5em;
    }
}
